{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="text-center">Salut Matthieu, essayes de changer ce titre pour voir si ça fonctionne</h1>

{% endblock %}
